*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #1A1A21;
}
main{
  max-width: 600px;
  margin: auto;
  border: 7px solid #5A5A5A;
  padding: 5%;
  margin-top: 20%;
}
.display{
  margin-bottom: 10%;
}
#display{
  width: 96%;
  height: 120px;
  border: none;
  background-color: #5A5A5A;
  font-weight: bolder;
  font-size: 70px;
  color: black;
  text-align: right;
  padding: 0 2%;
}
button{
  font-size: 50px;
  font-weight: bolder;
  background-color: white;
  border-color: #5A5A5AF7;
  padding: 30%;
}
.button-list{
  display: grid;
  Grid-gap: 50px;
}
.number{
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  Grid-gap: 50px;
}
.operator{
  grid-column: 4;
  display: grid;
  grid-template-columns: repeat(1);
  Grid-gap: 50px;
}

/*------b4 main sec-------*/
.head-table{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}
.mode{
  color: white;
  width: 20%;
  border-radius: 30px;
  background-color: #15161D;
}
#dot{
  width:40%;
  height: 50px;
  background: white;
  border-radius: 100%;
  position: relative;
}
#time{
  width: 140px;
  height: 50px;
  text-align: center;
  background-color: #5A5A5A;
  border: none;
  font-size: 40px;
  color: black;
}